@media (max-width: 1200px) {


}


@media (max-width: 992px) {
    .burger-menu_button{
        right: 5px;
        top: 20px;

    }
    .hero__content-title{
        font-size: 65px;
    }
    .header{
        display: flex;
    }
    .hero_form{
        margin-left: 418px;
    }
    .list-items{
        margin-top: 152px;
        margin-right: 95px;
    }
    .logo{
      position: absolute;
    }
    .hero__link {
        margin-top: -45px;
        margin-left: -64px;
    }
    .room_btn p{
        margin-right: 180px;
    }
    .room_home{
        margin-left: 170px;


    }
    .panorama{
        margin-left: 50px;
        margin-top: 32px;
    }
    .btn__room{
        margin-top: 100px;
    }
    .box1{
        margin-left: 50px;
    }
    .row .svg__border{
        opacity: 0;
    }

}

@media (max-width: 767px) {

    .hero__content-title {
        font-size: 40px;
        margin-top: 83px;
    }

    .nav {
        display: none;
    }

    .hero_form {
        position: absolute;
        width: 439px;
        height: 45px;
        background: #fff;
    }

    .hero_btn {
        position: absolute;
        margin-top: 330px;
        margin-left: -68px;
        font-size: 14px;
        height: 41px;

    }

    .hero__link {
        margin-top: -6px;
        margin-left: 226px;
    }

    .room_title {
        font-size: 30px;
    }

    .room_home {
        width: 420px;
    }

    .room_price {
        margin-left: 20px;
    }

    .title__room {
        font-size: 30px;
    }

    .panorama {
        width: 200px;
        padding-left: 0;
        padding-top: 32px;
    }

    .p__btn {
        position: absolute;
        margin-top: 660px;
        margin-left: -100px;
    }

    .dark_title {
        font-size: 30px;
    }

    .box1 {
        width: 135px;
    }

    .border_des {
        width: 160px;
        height: 200px;
    }

    .des__title {
        font-size: 30px;
    }

    .footer-title {
        text-align: center;
    }

    .burger-menu_button {
        right: 5px;
    }


}


@media (max-width: 568px) {


    .hero__content-title {
        font-size: 40px;
        margin-top: 83px;
    }




    .nav {
        display: none;
    }

    .hero_form {
        position: absolute;
        width: 439px;
        height: 45px;
        background: #fff;
    }

    .hero_btn {
        position: absolute;
        margin-top: 330px;
        margin-left: -68px;
        font-size: 14px;
        height: 41px;

    }

    .room_btn p {
        width: 141px;
        margin-right: 67px;

    }

    .burger-menu_button {
        right: 5px;
    }

    .hero__link {
        margin-top: -6px;
        margin-left: 226px;
    }

    .room_title {
        font-size: 30px;
    }

    .room_home {
        width: 420px;
    }

    .room_price {
        margin-left: 20px;
    }

    .title__room {
        font-size: 30px;
    }

    .panorama {
        width: 200px;
        padding-left: 0;
        padding-top: 32px;
    }

    .p__btn {
        position: absolute;
        margin-top: 619px;
        margin-left: -100px;
    }

    .dark_title {
        font-size: 28px;
    }

    .box1 {
        width: 90px;
    }

    .border_des {
        width: 140px;
        height: 180px;
    }

    .des__title {
        font-size: 28px;
    }

    .footer-title {
        text-align: center;
    }
    .logo{
        margin-top: -82px;
        padding-right: 135px;

    }
    .box1{
        width: 142px;
        margin-left: -14px;
    }
    .room_home{
        margin-left: 15px;
    }
    .panorama{
        margin-left: 1px;
    }


}


@media (max-width: 250px) {
}